
  
  :where(.secondPage) .containers{
    box-sizing: border-box;
    background-color:#DBDCDE ;
    border-radius: 2em;
    padding: 1.5em;
    display: flex;
    flex-grow: 1;
    height: 100%;
  }
  
  :where(.secondPage) .mainContent{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-around;
  }
  
  :where(.secondPage) #rightRow{
    box-sizing: border-box;
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
   
    
  }

  :where(.secondPage) #upperContainers{
    display: flex;
    flex-direction: row;
    height: 65%;
    gap:1em;
  }
   
  :where(.secondPage) #upperRightContainer
  {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 60%;
  }
  :where(.secondPage) #upperLeftContainer{
    width:40%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow-y: hidden;
  }

  :where(.secondPage) #fileUpload{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-style: dashed;
    border-radius: 1em;
    gap: 0.3em;
  }

  :where(.secondPage) #dragAndDrop{
    width: 100%;
    min-height: 35%;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    border: #606163 solid 2px;
    border-radius: 1em;
    border-style: dashed;
    align-items: center;
    justify-content: center;
    
  }

  :where(.secondPage) #uploadText{
    font-size: 0.7em;
  }

  :where(.secondPage) #uploadsContainer{
    display:flex;
    flex-direction: column;
    overflow-y: auto;
    height: 60%;
    gap: 0.3em;
    
  }

  :where(.secondPage) .uploads{
    min-height: 35%;
    max-height: 35%;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    border: #606163 solid 1px;
    border-radius: 0.7em;
    justify-content: space-evenly;
    align-items: center;

  }

  .typeSymbol{
    border: #606163 solid 1px;
    border-radius: 0.3em;
    width: 13%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  
  :where(.secondPage) h5{
    margin-block-start: 0em;
    margin-block-end: 0em;
  }

  .size{
    font-size: 0.7em;
  }

  :where(.secondPage) .details{
    display: flex;
    flex-direction: column;
    width: 70%;
  }

  
  :where(.secondPage) #lowerContainer{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
    height: 35%;
    gap: 0.5em;
  }
  
  :where(.secondPage) #dataButton{
    text-decoration: none;
    font-weight:normal;
    font-size: 0.9em;
    width: fit-content;
    align-self: center;
    color: white;
    background-color:#606163 ;
    border: 1px solid #ADADB0;
    border-radius: 0.7em;
    padding: 0.7em 1em;
  }
  #aggregationText{
    align-self: center;
    font-size: 0.9em;
  }
  
  
  :where(.secondPage) #leftContainer{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 25%;
  }
  
  :where(.secondPage) .content{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90%;
    gap: 0.5em;
    padding: 1em;
    
  }
  
  :where(.secondPage) .contentRight{
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
  :where(.secondPage) #user-input{
    box-sizing: border-box;
    background-color: transparent;
    height: 23%;
    border: solid #606163 2px;
    border-radius: 0.8em;
    width: 100%;
  
  }
  
  :where(.secondPage) #parameterList{
    list-style: none;
    margin: 0.5em;
    color: #606163;
  }
  
  :where(.secondPage) .toggle-list{
    display:flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 100%;
    gap: 0.5em;
    
    
  }
  
  :where(.secondPage) .toggle-list-left{
    width: 50%;
  }
  
  :where(.secondPage) .toggle-list-right{
    width: 100%;
    
  }
  
  :where(.secondPage) .toggle-list label{
    display: flex;
    align-items: center;
    font-size: medium;
    cursor: pointer;
  }
  
  :where(.secondPage) .toggle-list-right label{
    font-size: 1.3em;
  }
  
  :where(.secondPage) .toggle-list input[type="checkbox"]{
    display: none;
  }
  
  :where(.secondPage) .toggle-list input[type="checkbox"] +span{
    position:relative;
    padding-left: 2em;
    color: #606163;
  }
  
  :where(.secondPage) .toggle-list input[type="checkbox"] + span::before{
    content: '';
    position: absolute;
    left:0;
    top: 50%;
    transform: translateY(-50%);
    width: 1em;
    height: 1em;
    border: 2px solid #606163;
    border-radius: 50%;
  }
  
  
  
  .text{
    color: #606163;
  }
  
  :where(.secondPage) .toggle-list input[type="checkbox"]:checked + span::after {
    content: '';
    position: absolute;
    left: 0.25em;
    top: 50%;
    transform: translateY(-50%);
    width: 0.7em;
    height: 0.7em;
    background: #606163;
    border-radius: 50%; 
  }

  #overallProgress{
    width: 100%;
    height: 1.5em;
    border-radius: 2em;
    color: #606163;
    background-color: #adadb0;
    
    appearance: none;
    overflow: hidden;
}

progress::-webkit-progress-bar {
    background-color: #adadb0;
    border: #606163 solid 1.5px;
    border-radius: 2em;
}

progress::-webkit-progress-value {
    background: #606163;
    border-radius: 2em;
}